body {

background-color: white;
color: white;
margin: 0;
}

h2 {

  text-align: center;
}

a {

  color: white;
}

.trailer {

  height: auto;
  width: auto;
}

.topBar {

background-color: white;
width: auto;
height: 75px;
text-align: left;
padding-top: 10px;
padding-bottom: 60px;
}

.credit {

  text-align: center;
  font-size: 12px;
  clear: both;
  color: black;
  position: relative;
  margin-top: -40px;
}

.logo {
height: 75px;
width: auto;

}

.bodoni {
  color: black;
  text-align: center;
}


.middleBar {
height: 80%;
background-color: #1f262b;

}

.footer {
  background-color: white;
  clear: both;
  position: relative;
  margin-top: -40px;
  height: 75px;
  width: 100%;
  color: black;
}

.socialMedia {

  text-align: center;
}

#fb_link {
max-width: 25px;
}


#t_link {
max-width: 25px;
margin-left: 10px;
margin-bottom: 2px;
}

#i_link {
max-width: 25px;
margin-left: 10px;
}


#fb_link2 {
max-width: 25px;
}


#t_link2 {
max-width: 25px;
margin-left: 10px;
margin-bottom: 2px;
}

#i_link2 {
max-width: 25px;
margin-left: 10px;
}
